@tailwind base;
@tailwind components;
@tailwind utilities;
  
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNowText-Light.ttf') format('truetype');}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}